:root {
  --drag-and-drop-height: auto;
  --drag-and-drop-width: 400px;
  --drag-and-drop-padding: 12px 16px;
  --drag-and-drop-border: dashed 1px #6091dc;
  --drag-and-drop-margin: 0 auto;
  --drag-and-drop-background: #a0cee0;
}
